<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BookOrderMapper">
    <resultMap id="BaseResultMap" type="domain.BookOrder">
        <id column="oid" jdbcType="INTEGER" property="oid"/>
        <result column="date" jdbcType="DATE" property="date"/>
        <result column="oname" jdbcType="VARCHAR" property="oname"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        oid
        , date, oname, address, status, uid
    </sql>
    <select id="selectByExample" parameterType="domain.BookOrderExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from book_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from book_order
        where oid = #{oid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from book_order
        where oid = #{oid,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="domain.BookOrderExample">
        delete from book_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="domain.BookOrder">
        insert into book_order (oid, date, oname,
                                address, status, uid)
        values (#{oid,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{oname,jdbcType=VARCHAR},
                #{address,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="domain.BookOrder">
        insert into book_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="oid != null">
                oid,
            </if>
            <if test="date != null">
                date,
            </if>
            <if test="oname != null">
                oname,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="uid != null">
                uid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="oid != null">
                #{oid,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                #{date,jdbcType=DATE},
            </if>
            <if test="oname != null">
                #{oname,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="domain.BookOrderExample" resultType="java.lang.Long">
        select count(*) from book_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update book_order
        <set>
            <if test="record.oid != null">
                oid = #{record.oid,jdbcType=INTEGER},
            </if>
            <if test="record.date != null">
                date = #{record.date,jdbcType=DATE},
            </if>
            <if test="record.oname != null">
                oname = #{record.oname,jdbcType=VARCHAR},
            </if>
            <if test="record.address != null">
                address = #{record.address,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.uid != null">
                uid = #{record.uid,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update book_order
        set oid = #{record.oid,jdbcType=INTEGER},
        date = #{record.date,jdbcType=DATE},
        oname = #{record.oname,jdbcType=VARCHAR},
        address = #{record.address,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=VARCHAR},
        uid = #{record.uid,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="domain.BookOrder">
        update book_order
        <set>
            <if test="date != null">
                date = #{date,jdbcType=DATE},
            </if>
            <if test="oname != null">
                oname = #{oname,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
        </set>
        where oid = #{oid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="domain.BookOrder">
        update book_order
        set date    = #{date,jdbcType=DATE},
            oname   = #{oname,jdbcType=VARCHAR},
            address = #{address,jdbcType=VARCHAR},
            status  = #{status,jdbcType=VARCHAR},
            uid     = #{uid,jdbcType=INTEGER}
        where oid = #{oid,jdbcType=INTEGER}
    </update>
</mapper>