<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
    往spring容器中添加一个类
    id：你自己起的类的名称
    class：指向类的全路径
    -->
    <bean id="helloService" class="org.example.service.HelloService"></bean>

    <!--1.普通创建方法-->
    <bean id="book01" name="book01" class="org.example.domain.Book"></bean>
    <!-- 先把bookFactory放在容器中-->
    <bean id="bookfactory" class="org.example.factory.BookFactory"></bean>

    <!--    2.工厂模式-->
    <bean id="book02" factory-bean="bookfactory" factory-method="createBook"></bean>

    <!--    3.静态工厂-->
    <bean id="book03" class="org.example.factory.BookStaticFactory" factory-method="createBook"></bean>

    <!--    4.通过Spring提供的Factorybean来创建对象-->
    <bean id="book04" class="org.example.factory.BookFactoryBean"></bean>

</beans>