<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<div id="footer">
    <a href="#">cqipc.edu.cn.bookstore</a>&copy; 2020 All Rights Reserved.
</div>
<!-- 最新版本的Bootstrap核心css文件 -->
<link crossorigin="anonymous" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFek1dGmJRAkycuHAHRg320mUcww7on3RYdg4va+PmSTsz/K68vbdEjh4u" rel="stylesheet">

<!-- 可选的Bootstrap主题文件（一般不用引用） -->
<link crossorigin="anonymous" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXWl/Sp" rel="stylesheet">

<!-- 最新的Bootstrap核心JavaScript文件 -->
<script crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>